### HACKATHON: Detecting Cyberbullying

### Part 1: Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
# clean dataset1

In [3]:
cb1 = pd.read_csv("./cyberbullying_tweets.csv")
cb1.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [4]:
cb1["cyberbullying_type"].value_counts()

cyberbullying_type
religion               7998
age                    7992
gender                 7973
ethnicity              7961
not_cyberbullying      7945
other_cyberbullying    7823
Name: count, dtype: int64

In [5]:
cb1["cyberbullying_type"] = np.where(cb1["cyberbullying_type"] == "not_cyberbullying", 0, 1)
cb1 = cb1.rename(columns={"tweet_text": "tweet", "cyberbullying_type": "cyberbullying"})
cb1.head()

                                               tweet  cyberbullying
0  In other words #katandandre, your food was cra...              0
1  Why is #aussietv so white? #MKR #theblock #ImA...              0
2  @XochitlSuckkks a classy whore? Or more red ve...              0
3  @Jason_Gio meh. :P  thanks for the heads up, b...              0
4  @RudhoeEnglish This is an ISIS account pretend...              0

In [6]:
cb1['cyberbullying'].value_counts()

cyberbullying
1    39747
0     7945
Name: count, dtype: int64

In [7]:
# clean data 2

In [8]:
cb2r = pd.read_csv("./twitter_racism_parsed_dataset.csv")
cb2r.head()

,index,id,Text,Annotation,oh_label
0,5.767493e+17,5.767493e+17,@AAlwuhaib1977 Muslim mob violence against Hin...,racism,1
1,5.408905e+17,5.408905e+17,@Te4m_NiGhtM4Re http://t.co/5Ih7MkDbQG,none,0
2,5.678433e+17,5.678433e+17,@jncatron @isra_jourisra @AMPalestine Islamoph...,racism,1
3,5.766462e+17,5.766462e+17,"Finally I'm all caught up, and that sudden dea...",none,0
4,5.713492e+17,5.713492e+17,@carolinesinders @herecomesfran *hugs*,none,0

In [9]:
cb2r.drop(["index","id","Annotation"],axis = 1,inplace = True)

cb2r = cb2r.rename(columns={"Text": "tweet", "oh_label": "cyberbullying"})
cb2r.head()

                                               tweet  cyberbullying
0  @AAlwuhaib1977 Muslim mob violence against Hin...              1
1             @Te4m_NiGhtM4Re http://t.co/5Ih7MkDbQG              0
2  @jncatron @isra_jourisra @AMPalestine Islamoph...              1
3  Finally I'm all caught up, and that sudden dea...              0
4             @carolinesinders @herecomesfran *hugs*              0

In [10]:
# data 3

In [11]:
cb2s = pd.read_csv("./twitter_sexism_parsed_dataset.csv")
cb2s.head()

,index,id,Text,Annotation,oh_label
0,5.35198627292254E+017,5.35198627292254E+017,RT @BeepsS: @senna1 @BeepsS: I'm not sexist bu...,sexism,1.0
1,5.75984924030714E+017,5.75984924030714E+017,There's some very hate able teams this year #MKR,none,0.0
2,5.7233536016588E+017,5.7233536016588E+017,"RT @The_Eccles: ""Everyone underestimated us"" \...",none,0.0
3,5.72337925708374E+017,5.72337925708374E+017,RT @NOTLukeDarcy: did @Channel7 or #MKR actual...,none,0.0
4,4.43033024528011E+017,4.43033024528011E+017,"No, you don't. @Shut_Up_Jeff: I thought of a r...",sexism,1.0

In [12]:
cb2s = cb2s.dropna()
cb2s.drop(["index","id","Annotation"],axis = 1,inplace = True)
cb2s = cb2s.rename(columns={"Text": "tweet", "oh_label": "cyberbullying"})
cb2s["cyberbullying"] = cb2s["cyberbullying"].astype(int)
cb2s.head()

                                               tweet  cyberbullying
0  RT @BeepsS: @senna1 @BeepsS: I'm not sexist bu...              1
1   There's some very hate able teams this year #MKR              0
2  RT @The_Eccles: "Everyone underestimated us" \...              0
3  RT @NOTLukeDarcy: did @Channel7 or #MKR actual...              0
4  No, you don't. @Shut_Up_Jeff: I thought of a r...              1

In [13]:
# combine

In [14]:
combine_data = pd.concat([cb1, cb2r, cb2s], axis = 0)
combine_data.head()

                                               tweet  cyberbullying
0  In other words #katandandre, your food was cra...              0
1  Why is #aussietv so white? #MKR #theblock #ImA...              0
2  @XochitlSuckkks a classy whore? Or more red ve...              0
3  @Jason_Gio meh. :P  thanks for the heads up, b...              0
4  @RudhoeEnglish This is an ISIS account pretend...              0

In [15]:
combine_data['cyberbullying'].value_counts()

cyberbullying
1    45094
0    30947
Name: count, dtype: int64

In [16]:
combine_data.to_csv("./clean_data.csv",index=False,header=True)

## Part 2 : Read Back Check

In [18]:
df = pd.read_csv("./clean_data.csv")

In [19]:
df.head()

                                               tweet  cyberbullying
0  In other words #katandandre, your food was cra...              0
1  Why is #aussietv so white? #MKR #theblock #ImA...              0
2  @XochitlSuckkks a classy whore? Or more red ve...              0
3  @Jason_Gio meh. :P  thanks for the heads up, b...              0
4  @RudhoeEnglish This is an ISIS account pretend...              0

In [20]:
df.shape

(76041, 2)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76041 entries, 0 to 76040
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweet          76041 non-null  object
 1   cyberbullying  76041 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [22]:
df["cyberbullying"].value_counts()

cyberbullying
1    45094
0    30947
Name: count, dtype: int64